[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "microPop"]
	path = microPop
	url = https://github.com/cran/microPop
	shallow = true
	registered = true
[submodule "stagePop"]
	path = stagePop
	url = https://github.com/helenkettle/stagepop
	shallow = true
	subdir = stagePop
	registered = true
