[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "microPop"]
	path = microPop
	url = https://github.com/cran/microPop
[submodule "stagePop"]
	path = stagePop
	url = https://github.com/helenkettle/stagepop
	subdir = stagePop
